<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>北京雁栖湖国际会展中心 - 展览</title>
<link rel="stylesheet" type="text/css" href="../css/yanqi.css">
<script src="../js/cfg.js"></script>
<script src="../js/zepto.min.js"></script>
</head>
<body>
<div class="container" id="container">
	<div class="top"></div>
	<div class="pic">
		<img src="../img/2.jpg">
	</div>
	<div class="mid clearfix">
		<div class="mid-left">
			<div class="left-column">
				<span class="cn">场馆信息</span>
				<span class="en">Venue information</span>
			</div>
			<div class="left-link">
				<span>展览</span>
			</div>
			<div class="left-link link" data-link="conference">
				<span>会议</span>
			</div>
			<div class="left-link link" data-link="catering">
				<span>餐饮</span>
			</div>
			<div class="left-link link" data-link="hotel">
				<span>酒店</span>
			</div>
		</div>
		<div class="mid-right">
			<div class="right-column">展览</div>
			<span class="right-spoor">
				<span class="link" data-link="home">首页</span>>
				<span>场馆信息</span>>
				<span class="blue">展览</span>
			</span>
			<div class="right-content">
				<div class="right-title">坐落青山碧水，畅享天然氧吧</div>
				<p>坐落“青山碧水”之内，畅享“天然氧吧”之中，场馆位于成功举办2014年APEC会议的北京雁栖湖生态发展示范区，秉承“低碳环保、科技创新”的理念，打造出中国首个国际首脑峰会“零碳”场馆。场馆主体建筑遵循“汉唐升华、天地飞扬”的设计理念，宛若祈年殿倒影，雄伟现代，建筑面积79000平方米。</p>
				<p>坐落“青山碧水”之内，畅享“天然氧吧”之中，场馆位于成功举办2014年APEC会议的北京雁栖湖生态发展示范区，秉承“低碳环保、科技创新”的理念，打造出中国首个国际首脑峰会“零碳”场馆。场馆主体建筑遵循“汉唐升华、天地飞扬”的设计理念，宛若祈年殿倒影，雄伟现代，建筑面积79000平方米。</p>
			</div>


			<div class="slide">
				<div class="swiper-container gallery-top">
			        <div class="swiper-wrapper">
			            <div class="swiper-slide" style="background-image:url(../img/s1.jpg)"></div>
			            <div class="swiper-slide" style="background-image:url(../img/s2.jpg)"></div>
			            <div class="swiper-slide" style="background-image:url(../img/s3.jpg)"></div>
			            <div class="swiper-slide" style="background-image:url(../img/s4.jpg)"></div>
			            <div class="swiper-slide" style="background-image:url(../img/s1.jpg)"></div>
			            <div class="swiper-slide" style="background-image:url(../img/s2.jpg)"></div>
			            <div class="swiper-slide" style="background-image:url(../img/s3.jpg)"></div>
			            <div class="swiper-slide" style="background-image:url(../img/s4.jpg)"></div>
			        </div>
			        <div class="swiper-button-next swiper-button-white"></div>
			        <div class="swiper-button-prev swiper-button-white"></div>
			    </div>
			    <div class="swiper-container gallery-thumbs">
			        <div class="swiper-wrapper">
			            <div class="swiper-slide" style="background-image:url(../img/s1.jpg)"></div>
			            <div class="swiper-slide" style="background-image:url(../img/s2.jpg)"></div>
			            <div class="swiper-slide" style="background-image:url(../img/s3.jpg)"></div>
			            <div class="swiper-slide" style="background-image:url(../img/s4.jpg)"></div>
			            <div class="swiper-slide" style="background-image:url(../img/s1.jpg)"></div>
			            <div class="swiper-slide" style="background-image:url(../img/s2.jpg)"></div>
			            <div class="swiper-slide" style="background-image:url(../img/s3.jpg)"></div>
			            <div class="swiper-slide" style="background-image:url(../img/s4.jpg)"></div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
	<div class="btm"></div>
</div>

<script src="../js/banner.js"></script>
<script>new Banner("expo");</script>

<script src="../js/swiper.min.js"></script>
<link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="../css/swiperfix.css">
<script>
;(function(){
var galleryTop = new Swiper('.gallery-top', {
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    spaceBetween: 10
});
var galleryThumbs = new Swiper('.gallery-thumbs', {
    spaceBetween: 10,
    centeredSlides: true,
    slidesPerView: 'auto',
    touchRatio: 0.2,
    slideToClickedSlide: true
});
galleryTop.params.control = galleryThumbs;
galleryThumbs.params.control = galleryTop;
})();
</script>
</body>
</html>